.contenedor{
   
    display: grid;
    grid-gap: 1.2em;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(auto auto) repeat(3, minmax(auto, auto));
    grid-template-areas: "header header"
                         "bloque-1 bloque-4"
                         "bloque-2 bloque-4"
                         "bloque-3 bloque-4";
                         justify-items: stretch;
}

.contenedor .header{
    grid-area:header;
    display: grid;
    grid-template-columns: 1fr 1fr;
   
}



.contenedor .info4{
    grid-area: bloque-4 ;
   
}

@media screen and (max-width:650px ){
    .contenedor{
        display: grid;
        grid-template-columns: 1fr;
    grid-template-areas: "header"
                         "bloque-1"
                         "bloque-2"
                         "bloque-3"
                         "bloque-4"
                         "bloque-4"
                         "bloque-4";
    }
    .contenedor .info1{
        grid-area: bloque-1 ;
       
    }
    .contenedor .info2{
        grid-area: bloque-2 ;
       
    }
    .contenedor .info3{
        grid-area: bloque-3 ;
       
    }
    .contenedor .info4{
        grid-area: bloque-4 ;
       
    }
}

@media(max-width:1000px){
    body{
        font-size: 16px;
    }

}
@media(max-width:800px){
    body{
        font-size: 13px;
    }

}